<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Lightbox Heads</h1>
    <p class="lead">Where people talk Lightbox Film Center Movies.</p>
  </div>
</div>
<div class="row">
  <div class="col-8 mx-auto mb-3">
    <button class="col btn btn-primary scrape-btn">Get a List of Movies</button>
  </div>
</div>
<div class="row">
  <div id="articles-div" class="col-10 mx-auto p-3 mb-4">
    <h1 class="text-center">What's ahead at Lightbox Film Center</h1>
    {{#each article}}
      <div class="movie-div bg-light p-2 mb-3">
          <h2>{{headline}}</h2>
          <p>{{summary}}</p>
          <p>{{url}}</p>
          <button class="btn btn-warning comment-btn" data-id={{_id}}>comment</button>
          {{!-- {{#if article.comment}} --}}
          
          {{#each comment}}
            <div class="comment-div p-2 mt-2 mb-4">

                  <h3 class="border-bottom">{{title}}</h3>
                  <p>{{body}}</p>

                <button class="btn btn-primary delete-comment ml-auto" data-id={{_id}}>Delete</button>
            </div>
          {{/each}}
          {{!-- {{/if}} --}}
      </div>
    {{/each }}

  </div>
</div>

<div class="row">
  <div id="commentForm" class="col-8 mx-auto bg-light p-3 mb-5 d-none">
    <form class="">
      <div class="form-group">
        <label for="noteInput">Note Title</label>
        <input type="title" class="form-control" id="titleInput" aria-describedby="titleHelp" placeholder="Enter a title">
        
      </div>
      <div class="form-group">
        <label for="commentInput">Comment</label>
        <input type="text" class="form-control" id="commentInput" placeholder="Comment">
      </div>
      
      <button id="sub-btn" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js"></script>